body {
  margin: 0;
  font-family: Arial;
  direction: rtl;
  background: #f4f6f9;
}

.layout {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #1e293b;
  color: white;
  height: 100vh;
  padding: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar li {
  padding: 10px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.pos-container {
  display: flex;
  gap: 20px;
}

.products, .cart {
  background: white;
  padding: 15px;
  flex: 1;
}

/* mobile */
@media (max-width: 768px) {
  .layout { flex-direction: column; }

  .sidebar {
    position: fixed;
    right: -220px;
    transition: 0.3s;
  }

  .sidebar.active {
    right: 0;
  }
}
